# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Virtual Environment
venv/
.env/

# VSCode
.vscode/

# Hugging Face Cache
huggingface/

# Models
*.ckpt
*.pth
*.pt

# Audio/Temp
*.wav
*.mp3
*.flac
*.m4a
*.ogg
*.tmp

# OS
.DS_Store
Thumbs.db
